# Basic
name:               "Seans Dev"

# URL
baseurl:            ""
permalink:          /:year/:title/

# Markdown
markdown:           kramdown

# Navigation
nav:
  - name:           "[About me]"
    href:           "/about"

# Sass
sass:
  style:            :compressed

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"
